#patientBody {
    margin: 5%;
}

#containerPatient {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
        "up middle"
        "down down";
    text-align: center;
    grid-gap: 4%;
}

#containerPatient > p {
    color: #320254;
    font-size: 2rem;
    padding: 5%;
}

#up {
    grid-area: up;
    background-color: darkolivegreen;
}

#middle {
    grid-area: middle;
    background-color: darkkhaki;
}

#down {
    grid-area: down;
    background-color: navajowhite;
}
