#patientBody {
    margin: 5% 5% 5% 5%;
}

#containerPatient {
    display: grid;
    grid-template-columns: repeat(1,9fr 1fr);
    grid-template-areas:
        "up middle"
        "down down";
    text-align: center;
}

#containerPatient > p {
    color: #320254;
    font-size: 2rem;
    margin: 0;
    padding: 2% 0;
}

#up {
    grid-area: up;
    background-color: #dcd3d3;
}

#middle {
    grid-area: middle;
    background-color: darkkhaki;
}

#down {
    grid-area: down;
    background-color: navajowhite;
}
