.container {
    background-color: #edf2f7;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-areas:
        "nav nav"
        "aside main";
}

nav {
    grid-area: nav;
    background-color: darkolivegreen;
}

aside {
    grid-area: aside;
    background-color: blue;
}

main {
    grid-area: main;
    background-color: indianred;
}
