#layoutContainer {
    background-color: #edf2f7;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas:
        "nav nav"
        "aside main";
}

aside {
    grid-area: aside;
    background-color: blue;
}

main {
    grid-area: main;
    background-color: indianred;
}
