#layoutContainer {
    background-color: #edf2f7;
    display: grid;
    grid-template-columns: 17% 83%;
    grid-template-areas:
        "nav nav"
        "aside main";
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
    background-color: rgb(201, 187, 170);
}
