aside {
    background-color: #5ba2f4;
    margin: 0;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas:
        "side main";
    height: 100%;
}

#sideMenuVerticalContainer {
    grid-area: side;
    background-color: #5ba2f4;
    text-align: center;
}

#main {
    background-color: #ffffff;
}

#sideMenuVerticalBarUl {
    margin: 0;
    background-color: rgba(201, 187, 170, 0.55);
    list-style: none;
}

#sideMenuVerticalBarUl > li {
    /*border: 2px solid black;*/
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: start;
}
