#container_registerForm {
    display: block;
    grid-template-columns: repeat(1, 1fr);
    background-color: #ffffff;
    height: 100%;
}
#container_registerForm > form {
    background-color: #5ba2f4;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10% 0;
    width: 80%;
}

.item_registerForm {
    padding: 10px;
    margin: 0 25% 1%;
    width: 50%;
    background-color: rgb(201, 187, 170);
    text-align: center;
    font-size: 2rem;
}

.item_registerForm:last-child {
    margin: 0 25%;
}

#registerButton {
    color: blue;
    padding: 0;
    margin: 0;
    width: 100%;
}

div.item_registerForm:last-child {
    margin-top: 8%;
}

.errorMSG {
    text-transform: capitalize;
    font-size: small;
    color: red;
    margin-top: 0.5rem;
}

