#container_registerForm {
    display: block;
    grid-template-columns: repeat(1, 1fr);
    background-color: #ffffff;
    height: 100%;
}
#container_registerForm > form {
    background-color: #5ba2f4;
    margin: 3% 3% 0;
    padding: 10% 0;
}

.item_registerForm {
    padding: 10px;
    margin: 0 25% 1%;
    width: 50%;
    background-color: rgb(201, 187, 170);
    text-align: center;
}

.item_registerForm:last-child {
    margin: 0 25%;
}

#registerButton {
    color: blue;
    padding: 0;
    margin: 0;
    width: 100%;
}

div.item_registerForm:last-child {
    margin-top: 8%;
}

.errorMSG {
    text-transform: capitalize;
    font-size: small;
    color: red;
    margin-top: 0.5rem;
}

.BannerDodajNowy {
    background-color: #5ba2f4;
    border: 1px solid #5BA2F4FF;
    margin-bottom: 5%;
    font-size: 2rem;
}

.BannerDodajNowy > .actionButton {
    color: #5BA2F4FF;
    border: 1px solid #5BA2F4FF;
    text-transform: full-width;
}

.item_registerForm > #registerButton {
    text-transform: full-width;
    font-size: 2rem;
}
